.footer-container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.top-bot {
    display: flex;
    flex-direction: column;
    align-items: start;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer {
    width: 100%;
    height: 350px;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.footer-col h4 {
    font-size: 12pt;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #bdbbbc;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 9pt;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.footer .social-links {
    display: flex;
    flex-wrap: wrap;
}

.footer .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.copy-right {
    font-size: 8pt;
    text-align: center;
    margin: 40px 20px;
}
