.header {
    font-weight: 400;
    color: #000000;
    text-align: center;
    padding: 80px 20px;
}

.header h2 {
    font-size:35px;
    margin-bottom: 10px;
}

.header p {
    color: #333;
    font-size: 10pt;
    margin-top: 20px;
    margin-bottom: 20px;
}