.model-header h2 {
    font-weight: 300;
    color: #414040;
    /* border: 2px solid green; */
}

.classification-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
}

.control-panel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.dashboard-body {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    padding: 0px 10px;
    border: 2px solid blue;
}

.model-dropdown-box {
    position: relative;
    width: 300px;
    height: 50px;
}

.model-dropdown-box::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    right: 20px;
    top: 15px;
    z-index: 10000;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.model-dropdown-box input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
}

.model-dropdown-box .model-option {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
}

.model-dropdown-box .model-option div {
    padding: 12px 20px;
    cursor: pointer;
}

.model-dropdown-box .model-option div:hover {
    background: #62baea ;
    color: #fff;
}
.dashboard-box {
    border: 2px solid lawngreen;
    margin: 0px 200px
}
.dashboard-box .dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.dashboard-box .dashboard-card {
    border-radius: 10px;
    height: 200px;
    width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 5px 5px 20px #babecc, -5px -5px 20px #ffffff;
}

.dashboard-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
}

.dashboard-value {
    font-size: 3rem;
    font-weight: 600;
}


.prediction-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.prediction-body .upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orangered;
    width: 40%;
    height: 100%;
    margin-left: 200px;
}
.prediction-body .upload-box .upload-container {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 2%;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px #babecc, -5px -5px 20px #ffffff;
}

.prediction-body .upload-box .upload-container .upload-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.upload-container p {
    margin: 0;
    color: #888;
}

.prediction-body .upload-box .upload-container img {
    width: 350px;
    height: 350px;
}

.prediction-body .upload-box .upload-container .uploaded-image {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: cover;
}

.control-panel .predict-button {
    display: block;
    padding: 10px 20px;
    width: 150px;
    height: 40px;
    margin-left: 10px;
    margin-right: 0px;
    background-color: #29b33b;
    color: white;
    font-size: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.control-panel .upload-button {
    display: block;
    padding: 10px 20px;
    width: 150px;
    height: 40px;
    margin-left: 10px;
    margin-right: 0px;
    background-color: #000000;
    color: white;
    font-size: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.buttons-box {
    /* border: 2px solid lawngreen; */
    width: 33%;
    height: 100%;
}
.prediction-box {
    /* border: 2px solid palevioletred; */
    width: 60%;
    height: 100%;
    margin-right: 200px;
}

.predict-button:hover {
    background-color: #ffffff;
    color: #29b33b;
    border: 1px solid #29b33b;
}

.upload-button:hover {
    background-color: #ffffff;
    color: #000000;
}

input {
    border: 2px solid blue;
}